# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [4]:
import pandas as pd

In [10]:
#1
# I load the data sets
df1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
df3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [24]:
# I combine the data sets
combined_df = pd.concat([df1, df2, df3], axis=0)

In [36]:
# Data cleaning
combined_df = combined_df.drop_duplicates(keep='first')

In [42]:
combined_df.columns = combined_df.columns.str.lower()
combined_df.columns = combined_df.columns.str.replace(' ', '_').str.lower()
combined_df.columns = combined_df.columns.str.replace(r'^\bst\b$', 'state', regex=True)

In [44]:
combined_df['gender'] = combined_df['gender'].replace({
    'Femal': 'F', 
    'Female': 'F', 
    'female': 'F',
    'Male': 'M',
    'M': 'M'
})

In [58]:
combined_df['education'] = combined_df['education'].replace('Bachelors', 'Bachelor')

In [60]:
combined_df['customer_lifetime_value'] = combined_df['customer_lifetime_value'].str.replace('%', '').astype(float)

In [62]:
combined_df['vehicle_class'] = combined_df['vehicle_class'].replace({
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
})

In [ ]:
combined_df['customer_lifetime_value'] = combined_df['customer_lifetime_value'].astype(str).str.replace('%', '').astype(float)
combined_df['number_of_open_complaints'] = combined_df['number_of_open_complaints'].astype(str)
combined_df['number_of_open_complaints'] = combined_df['number_of_open_complaints'].apply(lambda x: int(x.split('/')[1]) if '/' in x else 0)
combined_df['number_of_open_complaints'] = combined_df['number_of_open_complaints'].astype(int)

In [70]:
combined_df['gender'] = combined_df['gender'].fillna('Unknown') 
combined_df['state'] = combined_df['state'].fillna('Unknown') 
combined_df['customer'] = combined_df['customer'].fillna('Unknown') 
combined_df['education'] = combined_df['education'].fillna('Unknown')  
combined_df['policy_type'] = combined_df['policy_type'].fillna('Unknown')  
combined_df['vehicle_class'] = combined_df['vehicle_class'].fillna('Unknown')

In [78]:
combined_df['customer_lifetime_value'] = combined_df['customer_lifetime_value'].fillna(combined_df['customer_lifetime_value'].median())  
combined_df['income'] = combined_df['income'].fillna(combined_df['income'].median())  
combined_df['monthly_premium_auto'] = combined_df['monthly_premium_auto'].fillna(combined_df['monthly_premium_auto'].median()) 
combined_df['number_of_open_complaints'] = combined_df['number_of_open_complaints'].fillna(combined_df['number_of_open_complaints'].median()) 
combined_df['total_claim_amount'] = combined_df['total_claim_amount'].fillna(combined_df['total_claim_amount'].median())

In [82]:
combined_df['monthly_premium_auto'] = combined_df['monthly_premium_auto'].astype(int)
combined_df['income'] = combined_df['income'].astype(int)

In [88]:
combined_df['total_claim_amount'] = combined_df['total_claim_amount'].round(2)

In [90]:
print(combined_df.head())

  customer       state   gender             education  \
0  RB50392  Washington  Unknown                Master
1  QZ44356     Arizona        F              Bachelor
2  AI49188      Nevada        F              Bachelor
3  WW63253  California        M              Bachelor
4  GA49547  Washington        M  High School or Below

   customer_lifetime_value  income  monthly_premium_auto  \
0                572076.51       0                  1000
1                697953.59       0                    94
2               1288743.17   48767                   108
3                764586.18       0                   106
4                536307.65   36357                    68

   number_of_open_complaints     policy_type  vehicle_class  \
0                          0   Personal Auto  Four-Door Car
1                          0   Personal Auto  Four-Door Car
2                          0   Personal Auto   Two-Door Car
3                          0  Corporate Auto            SUV
4                          0   Personal Auto  Four-Door Car

   total_claim_amount    state   gender
0                2.70  Unknown  Unknown
1             1131.46  Unknown  Unknown
2              566.47  Unknown  Unknown
3              529.88  Unknown  Unknown
4               17.27  Unknown  Unknown

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [102]:
# 2
df_marketing = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

In [104]:
df_marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   unnamed:_0                     10910 non-null  int64
 1   customer                       10910 non-null  object
 2   state                          10910 non-null  object
 3   customer_lifetime_value        10910 non-null  float64
 4   response                       10910 non-null  object
 5   coverage                       10910 non-null  object
 6   education                      10910 non-null  object
 7   effective_to_date              10910 non-null  object
 8   employmentstatus               10910 non-null  object
 9   gender                         10910 non-null  object
 10  income                         10910 non-null  int64
 11  location_code                  10910 non-null  object
 12  marital_status                 10910 non-null  object
 13  monthly_premium_auto           10910 non-null  int64
 14  months_since_last_claim        10910 non-null  float64
 15  months_since_policy_inception  10910 non-null  int64
 16  number_of_open_complaints      10910 non-null  float64
 17  number_of_policies             10910 non-null  int64
 18  policy_type                    10910 non-null  object
 19  policy                         10910 non-null  object
 20  renew_offer_type               10910 non-null  object
 21  sales_channel                  10910 non-null  object
 22  total_claim_amount             10910 non-null  float64
 23  vehicle_class                  10910 non-null  object
 24  vehicle_size                   10910 non-null  object
 25  vehicle_type                   10910 non-null  object
 26  month                          10910 non-null  int64
dtypes: float64(4), int64(6), object(17)
memory usage: 2.2+ MB

In [122]:
print(df_marketing.head())

   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

In [120]:
df_marketing = df_marketing.dropna()
df_marketing = df_marketing.drop_duplicates()

In [132]:
#2.1
pivot_table = pd.pivot_table(df_marketing, values='total_claim_amount', 
                             index='sales_channel', 
                             aggfunc='sum')
pivot_table['total_revenue'] = pivot_table['total_claim_amount'].round(2)
print(pivot_table[['total_revenue']])

               total_revenue
sales_channel
Agent             1810226.82
Branch            1301204.00
Call Center        926600.82
Web                706600.04

In [ ]:
# Agent Channel appears to have the highest total revenue, followed by branch sales.

In [146]:
#2.2
pivot_table = pd.pivot_table(df_marketing, values='customer_lifetime_value', 
                             index=['gender', 'education'], 
                             aggfunc='mean')
pivot_table['customer_lifetime_value'] = pivot_table['customer_lifetime_value'].round(2)
print(pivot_table)

                             customer_lifetime_value
gender education
F      Bachelor                              7874.27
       College                               7748.82
       Doctor                                7328.51
       High School or Below                  8675.22
       Master                                8157.05
M      Bachelor                              7703.60
       College                               8052.46
       Doctor                                7415.33
       High School or Below                  8149.69
       Master                                8168.83

In [ ]:
#Customers with a Masters and High School degree tend to have the highest average customer lifetime value, both for males and females.
#Overall, the gender differences in average CLV are not as pronounced as the impact of education.

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here